<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>НЭГ МОНГОЛ</title>
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .bannertext{
            background-color: white;
            color: #000;
            width: 752px;
            font-weight: 300;
            right: 0;
            padding: 1px 20px 20px;
            margin: 250px auto 40px;
        }
        header .navbar-brand img{
            width: auto;
            margin-top: 5px;
            margin-left: 20px;  
        }
    </style>
  </head>
  <body class="tutorial">
        <header style="background-image:url(img/business.jpg);">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <nav>
                            <div class="container">
                                <a class="navbar-brand" href="index.php"><img src="img/logo-single.png"></a>
                                <button type="button" class="btn btn-default ccc dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu ddd">
                                <li><a href="##"><img src="img/logo-single-yerunhii-link.png"></a></li>
                                </ul>
                                <ul class="nav yamm nav-pills navbar-right collapse navbar-collapse">
                                    <li role="presentation" class="dropdown yamm-fw ">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                          Сургалтууд 
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <div class="yamm-content container">
                                                    <div class="row"> 
                                                        <div class="col-md-2 ">
                                                            <a class="english call" href="#sub1">
                                                               <img src="img/icon1.png">
                                                                <span>Мэдээллий Технологи</span>
                                                            </a>
                                                            <ul class="subsub" id="sub1">
                                                                <li>
                                                                    <div class="yamm-content container" style="border-top:1px solid #32d47b;">
                                                                        <div class="row"> 
                                                                            <div class="col-md-2 ">
                                                                                <ul class="list-group text-left sectionmenu">
                                                                                    <li class="list-group-item">
                                                                                        <a href="#">МЭДЭЭЛЛИЙН ТЕХНОЛОГИ ЕРӨНХИЙ</a>
                                                                                        <ul class="sublistmenu">
                                                                                            <li>
                                                                                                <div class="col-md-4">
                                                                                                    <ul class="list-group text-left">
                                                                                                        <li class="list-group-item"><a href="index.php?it=1">№1 - Windows үйлдлийн систем </a></li>
                                                                                                        <li class="list-group-item"><a href="index.php?it=2">№2 - Taskbar болон start цэстэй ажиллах</a></li>
                                                                                                        <li class="list-group-item"><a href="index.php?it=3">№3 - Файл болон системийн тухай</a></li>
                                                                                                         <li class="list-group-item"><a href="index.php?it=4">№4 - Windows-ийн орчин</a></li>
                                                                                                    </ul>
                                                                                                </div>
                                                                                                <div class="col-md-4">
                                                                                                    <ul class="list-group text-left">
                                                                                                        <li class="list-group-item"><a href="index.php?it=5">№5 - Windows үйлдлийн систем -2</a></li>
                                                                                                        <li class="list-group-item"><a href="index.php?it=6">№6 - Кирилл үсгээр хэрхэн бичих бэ? </a></li>
                                                                                                        <li class="list-group-item"><a href="index.php?it=7">№7 - Интернэтийн хэрэглээ</a></li>
                                                                                                        <li class="list-group-item"><a href="index.php?it=8">№8 - Вэб хуудасыг хэрхэн бүтээдэг вэ?</a></li>
                                                                                                    </ul>
                                                                                                </div>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </li>
                                                                                    <li class="list-group-item"><a href="#">ХЭРЭГЛЭЭНИЙ ПРОГРАМ ХАНГМЖУУД</a>
                                                                                        <ul class="sublistmenu">
                                                                                            <li>
                                                                                                <div class="col-md-4">
                                                                                                    <ul class="list-group text-left">
                                                                                                        <li class="list-group-item"><a href="index.php?program=1">№1 - MS Office Excel</a></li>
                                                                                                        <li class="list-group-item"><a href="index.php?program=2">№2 - MS OFFICE Word</a></li>
                                                                                                        <li class="list-group-item"><a href="index.php?program=3">№3 - MS OFFICE Powerpoint</a></li>
                                                                                                        <li class="list-group-item"><a href="index.php?program=3">№4 - Abode Photoshop</a></li>
                                                                                                        <li class="list-group-item"><a href="index.php?program=3">№5 - Macromedia Dreamweaver 8.0 Програм</a></li>
                                                                                                    </ul>
                                                                                                </div>
                                                                                                <div class="col-md-6">
                                                                                                    <ul class="list-group text-left">
                                                                                                        <li class="list-group-item"><a href="index.php?program=1">№6 - Macromedia Dreamweaver 8.0 Програм ашиглан вэб сайт хийх</a></li>
                                                                                                        <li class="list-group-item"><a href="index.php?program=2">№7 - Macromedia Dreamweaver 8.0 Програм ашиглан зураг оруулах</a></li>
                                                                                                        <li class="list-group-item"><a href="index.php?program=3">№8 - Macromedia Dreamweaver 8.0 дээр хийсэн вэб сайтаа засварлах</a></li>
                                                                                                    </ul>
                                                                                                </div>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                            
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul> <!-- subsub end -->
                                                        </div>
                                                        <div class="col-md-2">
                                                            <a class="bio call" href="#sub2">
                                                               <img src="img/icon5.png">
                                                                <span>Монгол хэл </span>
                                                            </a>
                                                               <ul class="subsub" id="sub2">
                                                                    <li>
                                                                        <div class="yamm-content container" style="border-top:1px solid #32d47b;">
                                                                            <div class="row"> 
                                                                                <div class="col-md-2 ">
                                                                                    <ul class="list-group text-left sectionmenu">
                                                                                        <li class="list-group-item" >
                                                                                            <a href="#" style="background-color:orange">ҮНДЭСНИЙ БИЧИГ(№1-15)</a>
                                                                                            <ul class="sublistmenu">
                                                                                                <li>
                                                                                                    <div class="col-md-4">
                                                                                                        <ul class="list-group text-left">
                                                                                                            <li class="list-group-item"><a href="index.php?tutorial=1">№1 - Үсгийн үндсэн зурлага, эгшиг үсэг</a></li>
                                                                                                            <li class="list-group-item"><a href="index.php?tutorial=2">№2 - Титэмт үсэг – на, ма, ла гийгүүлэгч</a></li>
                                                                                                            <li class="list-group-item"><a href="index.php?tutorial=3">№3 - Нумт үсэг – ба, ха, га гийгүүлэгч</a></li>
                                                                                                            <li class="list-group-item"><a href="index.php?tutorial=4">№4 - Шилбэт үсэг – жа, за, йа гийгүүлэгч</a></li>
                                                                                                            <li class="list-group-item"><a href="index.php?tutorial=5">№5 - Гийгүүлэгч үсэг – “та, да, ча, ца</a></li>
                                                                                                            
                                                                                                        </ul>
                                                                                                    </div>
                                                                                                    <div class="col-md-4">
                                                                                                        <ul class="list-group text-left">
                                                                                                            <li class="list-group-item"><a href="index.php?tutorial=6">№6 - Гийгүүлэгч үсэг – ра, са, ша</a></li>
                                                                                                            <li class="list-group-item"><a href="index.php?tutorial=7">№7 - Галиг үсэг – эгшиг, ва, фа, па гийгүүлэгч</a></li>
                                                                                                            <li class="list-group-item"><a href="index.php?tutorial=8">№8 - Галиг үсэг – ка, за, ца гийгүүлэгч</a></li>
                                                                                                            <li class="list-group-item"><a href="index.php?tutorial=9">№9 - Галиг үсэг – жа, ха, лха</a></li>
                                                                                                            <li class="list-group-item"><a href="index.php?tutorial=10">№10 - Гадаад үгийг зөв бичих</a></li>
                                                                                                        </ul>
                                                                                                    </div>
                                                                                                    <div class="col-md-4">
                                                                                                        <ul class="list-group text-left">
                                                                                                            <li class="list-group-item"><a href="index.php?tutorial=11">№11 - Хатуу дэвсгэр үсэг</a></li>
                                                                                                            <li class="list-group-item"><a href="index.php?tutorial=12">№12 - Зөөлөн дэвсгэр үсэг</a></li>
                                                                                                            <li class="list-group-item"><a href="index.php?tutorial=13">№13 - Үгийн үе</a></li>
                                                                                                            <li class="list-group-item"><a href="index.php?tutorial=14">№14 - Эгшиг зохицох ёс</a></li>
                                                                                                            <li class="list-group-item"><a href="index.php?tutorial=15">№15 - Урт эгшиг</a></li>
                                                                                                        </ul>
                                                                                                    </div>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </li>
                                                                                        <li class="list-group-item" >
                                                                                            <a href="#" style="background-color:orange">ҮНДЭСНИЙ БИЧИГ(№15-30)</a>
                                                                                            <ul class="sublistmenu">
                                                                                                <li>
                                                                                                    <div class="col-md-4">
                                                                                                        <ul class="list-group text-left">
                                                                                                            <li class="list-group-item"><a href="index.php?tutorial=16">№16 - Хос эгшиг</a></li>
                                                                                                            <li class="list-group-item"><a href="index.php?tutorial=17">№17 -  Нэр үгийн язгуур үндэс</a></li>
                                                                                                            <li class="list-group-item"><a href="index.php?tutorial=18">№18 - Олон тооны нөхцөл</a></li>
                                                                                                            <li class="list-group-item"><a href="index.php?tutorial=19">№19 - Тийн ялгалын нөхцөл</a></li>
                                                                                                            <li class="list-group-item"><a href="index.php?tutorial=20">№20 - Нэрийн хамаатуулах нөхцөл</a></li>
                                                                                                        </ul>
                                                                                                    </div>
                                                                                                    <div class="col-md-4">
                                                                                                        <ul class="list-group text-left">
                                                                                                            <li class="list-group-item"><a href="index.php?tutorial=21">№21 - Тийн ялгалтай хамаатуулах нөхцөл</a></li>
                                                                                                            <li class="list-group-item"><a href="index.php?tutorial=22">№22 - Монгол тоо, тооны нэр</a></li>
                                                                                                            <li class="list-group-item"><a href="index.php?tutorial=23">№23 - Төлөөний үгийг зөв бичих</a></li>
                                                                                                            <li class="list-group-item"><a href="index.php?tutorial=24">№24 - Сул үгийг зөв бичих</a></li>
                                                                                                            <li class="list-group-item"><a href="index.php?tutorial=25">№25 - Үйл үгийг зөв бичих, түүний хувилал</a></li>
                                                                                                        </ul>
                                                                                                    </div>
                                                                                                    <div class="col-md-4">
                                                                                                        <ul class="list-group text-left">
                                                                                                            <li class="list-group-item"><a href="index.php?tutorial=26">№26 - Үйл үгийн хэвийн нөхцөл</a></li>
                                                                                                            <li class="list-group-item"><a href="index.php?tutorial=27">№27 - Үйл үгийн байдлын нөхцөл</a></li>
                                                                                                            <li class="list-group-item"><a href="index.php?tutorial=28">№28 - Үйлийн тодотгон холбох нөхцөл</a></li>
                                                                                                            <li class="list-group-item"><a href="index.php?tutorial=29">№29 - Үйлийн нөхцөлдүүлэн холбох нөхцөл</a></li>
                                                                                                            <li class="list-group-item"><a href="index.php?tutorial=30">№30 - Үйлийн биеэр төгсгөх нөхцөл</a></li>
                                                                                                        </ul>
                                                                                                    </div>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </li>
                                                                                        <li class="list-group-item" >
                                                                                            <a href="#" style="background-color:orange">ҮНДЭСНИЙ БИЧИГ(№30-39)</a>
                                                                                            <ul class="sublistmenu">
                                                                                                <li>
                                                                                                    <div class="col-md-4">
                                                                                                        <ul class="list-group text-left">
                                                                                                            <li class="list-group-item"><a href="tutorial.html">№31 - Үйлийн цагаар төгсгөх нөхцөл</a></li>
                                                                                                            <li class="list-group-item"><a href="tutorial.html">№22 - Үйл үг бүтээх дагавар</a></li>
                                                                                                            <li class="list-group-item"><a href="tutorial.html">№33 - Нэр үг бүтээх дагавар</a></li>
                                                                                                            <li class="list-group-item"><a href="tutorial.html">№34 - Дуудлага ижил бичлэг өөр үгc</a></li>
                                                                                                            <li class="list-group-item"><a href="tutorial.html">№35 - Уламжлалт бичлэгтэй үгс</a></li>
                                                                                                        </ul>
                                                                                                    </div>
                                                                                                    <div class="col-md-4">
                                                                                                        <ul class="list-group text-left">
                                                                                                            <li class="list-group-item"><a href="tutorial.html">№36 - Ижил бичлэгтэй үгс/a></li>
                                                                                                            <li class="list-group-item"><a href="tutorial.html">№37 - Зарим өвөрмөц бичлэгтэй үгс</a></li>
                                                                                                            <li class="list-group-item"><a href="tutorial.html">№38 - Бичвэрийн тэмдгийг хэрэглэх нь</a></li>
                                                                                                            <li class="list-group-item"><a href="tutorial.html">№39 - Бичмэл дармал хэв</a></li>
                                                                                                          
                                                                                                        </ul>
                                                                                                    </div>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </li>
                                                                                        
                                                                                    </ul>
                                                                                </div>
                                                                                
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul> <!-- subsub end -->
                                                        </div>
                                                        <div class="col-md-2">
                                                            <a class="com call" href="#sub3">
                                                               <img src="img/icon2.png">
                                                                <span>Англи хэл </span>
                                                            </a>
                                                            <ul class="subsub" id="sub3">
                                                                <li>
                                                                    <div class="yamm-content container" style="border-top:1px solid #32d47b;">
                                                                        <div class="row"> 
                                                                            <div class="col-md-2 ">
                                                                                <ul class="list-group text-left sectionmenu">
                                                                                    <li class="list-group-item" >
                                                                                        <a href="#" style="background-color:#aa70d8">АНГЛИ ХЭЛ ТҮҮХ</a>
                                                                                        <ul class="sublistmenu">
                                                                                            <li>
                                                                                                <div class="col-md-4">
                                                                                                    <ul class="list-group text-left">
                                                                                                        <li class="list-group-item"><a href="index.php?english_history"> Англи хэл болон түүхүүд</a></li>
                                                                                                    </ul>
                                                                                                </div>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </li>
                                                                                    <li class="list-group-item" >
                                                                                        <a href="#" style="background-color:#aa70d8">АНГЛХИ ХЭЛ АНХАН ШАТ</a>
                                                                                        <ul class="sublistmenu">
                                                                                            <li>
                                                                                                <div class="col-md-4">
                                                                                                    <ul class="list-group text-left">
                                                                                                        <li class="list-group-item"><a href="index.php?english=1">№1 - Хэл дүрэм</a></li>
                                                                                                        <li class="list-group-item"><a href="index.php?english=2">№2 - Шинэ үг</a></li>
                                                                                                        <li class="list-group-item"><a href="index.php?english=3">№3 - Харилцан яриа</a></li>
                                                                                                        <li class="list-group-item"><a href="index.php?english=4">№4 - Авиа зүй</a></li>
                                                                                                    </ul>
                                                                                                </div>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                            
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul> 
                                                        </div>
                                                        <div class="col-md-2">
                                                            <a class="geo call" href="#sub4">
                                                               <img src="img/icon4.png">
                                                                <span>Амьдрах ухаан</span>
                                                            </a>
                                                             <ul class="subsub" id="sub4">
                                                                <li>
                                                                    <div class="yamm-content container" style="border-top:1px solid #32d47b;">
                                                                        <div class="row"> 
                                                                            <div class="col-md-12" style="text-align:center">
                                                                                ТУН УДАХГҮЙ ХИЧЭЭЛҮҮД ОРНО
                                                                            </div>
                                                                            
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul> 
                                                        </div>
                                                        <div class="col-md-2">
                                                            <a class="geo call" href="#sub5">
                                                               <img src='img/icon3.png'>
                                                                <span>Шинжлэх ухаан</span>
                                                            </a>
                                                            <ul class="subsub" id="sub5">
                                                                <li>
                                                                    <div class="yamm-content container" style="border-top:1px solid #32d47b;">
                                                                        <div class="row"> 
                                                                            <div class="col-md-12" style="text-align:center">
                                                                                ТУН УДАХГҮЙ ХИЧЭЭЛҮҮД ОРНО
                                                                            </div>
                                                                            
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Бидний тухай</a></li>
                                    <li><a href="#">Хичээл нэмэе</a></li>
                                    <li><a href="#">Үндэсний хөтөлбөр</a></li>
                                    <li><a href="#">Мэдээ</a></li>
                                    <li><a href="#" class="navbar-right button"> Нэгдэе</a></li>
                                </ul>
                            </div> 
                        </nav>
                    </div>
                </div>
            </div><!-- fluid end -->
            <div class="container">
                <div class="row">
                   <div class="bannertext text-center" style="    background-color: transparent;">
                        <h2>МЭДЭЭЛЛИЙН ТЕХНОЛОГИ</h2>
                        <p>Мэдээллийн Технологийн ерөнхий ойлголт</p>
                        <p>Багш: Б. Анх-Эрдэнэ</p>
                   </div>
                   <br/><br/>
                   <div class="col-md-2"></div>
                   <div class="col-md-8 text-center">
                        <a class="btn btn-default">Нээлттэй сургалт</a>
                        <a class="btn btn-default">Технологи</a>
                        <a class="btn btn-default">Насан туршийн боловсрол</a>
                   </div>
                   <div class="col-md-4"></div>
                </div>
            </div>
        </header>
    
 
    <!-- container start -->
    <div class="container side">
        <input type="hidden" value="{{lesson}}" id="lesson" />
        <div class="row">
            <div class="col-md-4">
                <h2>Сургалтын хөтөлбөр</h2>
                <ul class="list-group">
                  <li class="list-group-item {% if lesson ==1 %} active {% endif %}" id ="it111">
                    <span class="badge">15 минут</span>
                    <a href="#" id="it1">№1 - Windows үйлдлийн систем 1</a>
                  </li>
                  <li class="list-group-item {% if lesson ==2 %} active {% endif %}" id ="it112">
                    <span class="badge">15 минут</span>
                    <a href="#" id="it2">№2 - Taskbar болон start цэстэй ажиллах</a>
                  </li>
                  <li class="list-group-item {% if lesson ==3 %} active {% endif %}" id ="it113">
                    <span class="badge">15 минут</span>
                    <a href="#" id="it3">№3 - Файл болон системийн тухай</a>
                  </li>
                  <li class="list-group-item {% if lesson ==4 %} active {% endif %}" id ="it114">
                    <span class="badge">15 минут</span>
                    <a href="#" id="it4">№4 - Windows-ийн орчин</a>
                  </li>
                  <li class="list-group-item {% if lesson ==5 %} active {% endif %}" id ="it115">
                    <span class="badge">15 минут</span>
                    <a href="#" id="it5">№5 - Windows үйлдлийн систем 2</a>
                  </li>
                  <li class="list-group-item {% if lesson ==6 %} active {% endif %}" id ="it116">
                    <span class="badge">15 минут</span>
                    <a href="#"id="it6">№6 - Кирилл үсгээр хэрхэн бичих бэ?</a>
                  </li>
                  <li class="list-group-item {% if lesson ==7 %} active {% endif %}" id ="it117">
                    <span class="badge">15 минут</span>
                    <a href="#"id="it7">№7 - Интернэтийн хэрэглээ</a>
                  </li>
                  <li class="list-group-item {% if lesson ==8 %} active {% endif %}" id ="it118">
                    <span class="badge">15 минут</span>
                    <a href="#"id="it8">№8 - Вэб хуудасыг хэрхэн бүтээдэг вэ?</a>
                  </li>

                </ul>
            </div>
            <div class="col-md-8 right" id="it11" style="display:none">
                <br/>
                <iframe width="420" height="315" src="https://www.youtube.com/embed/kR0Sl13jG-o" frameborder="0" allowfullscreen></iframe>
                <br/>
            </div>
            <div class="col-md-8 right" id="it12" style="display:none">
                <br/>
                <iframe width="420" height="315" src="https://www.youtube.com/embed/auCMhXp6zXE" frameborder="0" allowfullscreen></iframe>
                <br/>
            </div>
            <div class="col-md-8 right" id="it13" style="display:none">
                <br/>
                <iframe width="420" height="315" src="https://www.youtube.com/embed/ey-tjNloIQQ" frameborder="0" allowfullscreen></iframe>
                <br/>
            </div>
            <div class="col-md-8 right" id="it14" style="display:none">
                <br/>
                <iframe width="420" height="315" src="https://www.youtube.com/embed/6LDRvwrpRcU" frameborder="0" allowfullscreen></iframe>
                <br/>
            </div>
            <div class="col-md-8 right" id="it15" style="display:none">
                <br/>
                <iframe width="420" height="315" src="https://www.youtube.com/embed/sE0odvvciZw" frameborder="0" allowfullscreen></iframe>
                <br/>
            </div>
            <div class="col-md-8 right" id="it16" style="display:none">
                <br/>
                <iframe width="420" height="315" src="https://www.youtube.com/embed/h3stVB9KDs0" frameborder="0" allowfullscreen></iframe>
                <br/>
            </div>
            <div class="col-md-8 right" id="it17" style="display:none">
                <br/>
                <iframe width="420" height="315" src="https://www.youtube.com/embed/nQboo76QyGU" frameborder="0" allowfullscreen></iframe>
                <br/>
            </div>
            <div class="col-md-8 right" id="it18" style="display:none">
                <br/>
                <iframe width="420" height="315" src="https://www.youtube.com/embed/3GtINIVWxPw" frameborder="0" allowfullscreen></iframe>
                <br/>
            </div>
             <div id="disqus_thread"></div>
                <script>
                    /**
                     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                     */
                    /*
                    var disqus_config = function () {
                        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };
                    */
                    (function() {  // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        
                        s.src = '//one-mongolia.disqus.com/embed.js';
                        
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <script id="dsq-count-scr" src="//one-mongolia.disqus.com/count.js" async></script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>  
        <br/>
    </div> <!-- container end -->
    <!-- container end -->
    <footer>
        <div class="container">
            <br/>
             <div class="row">
                <div class="col-md-4">
                    <a href="#"><img src="img/footer-logo.png"></a>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-9">
                    <h4><span>&copy 2015. ONE academy</span></h4>
                    <div class="row row5">
                        <div class="col-md-2">
                            <h5>Сургалтын түвшин</h5>
                            <ul class="list-group">
                              <li class="list-group-item"><a href="#">Сургуулийн өмнөх боловсрол</a></li>
                              <li class="list-group-item"><a href="#">Ерөнхий боловсрол</a></li>
                              <li class="list-group-item"><a href="#">Дээд боловсрол</a></li>
                              <li class="list-group-item"><a href="#">Насан туршийн боловсрол</a></li>
                            </ul>
                        </div>
                        <div class="col-md-2">
                            <h5>Бидний тухай</h5>
                            <ul class="list-group">
                              <li class="list-group-item"><a href="#">Сангийн тухай</a></li>
                              <li class="list-group-item"><a href="#">Зорилго</a></li>
                              <li class="list-group-item"><a href="#"> Он цагийн хэлхээс</a></li>
                            </ul>
                        </div>
                        <div class="col-md-2">
                            <h5>Төсөлүүд</h5>
                            <ul class="list-group">
                              <li class="list-group-item"><a href="#">Нээлттэй академи төсөл</a></li>
                              <li class="list-group-item"><a href="#">Монгол хэл төсөл</a></li>
                              <li class="list-group-item"><a href="#">Нээлттэй их сургууль төсөл</a></li>
                              <li class="list-group-item"><a href="#">Үнэн түүх төсөл</a></li>
                            </ul>
                        </div>
                        <div class="col-md-2">
                            <h5>Хичээл нэмэе</h5>
                            <ul class="list-group">
                              <li class="list-group-item"><a href="#">Онлайнаар багшлах тухай</a></li>
                              <li class="list-group-item"><a href="#">Нээлттэй мэдлэг танд ямар ач тустай вэ?</a></li>
                            </ul>
                        </div>
                        <div class="col-md-2">
                            <h5>Холбоо барих</h5>
                            <ul class="list-group">
                              <li class="list-group-item">Мэдээлэл Технологийн Үндэсний Парк</li>
                              <li class="list-group-item">+976-11-329688</li>
                              <li class="list-group-item">project@one.mn</li>
                              <li class="list-group-item"><a href="#">F</a><a href="#">T</a></li>
                              <li class="list-group-item">Нээлттэй Мэдлэг <br/>Боловсролын Сан</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4>Бидэнд санал илгээх</h4>
                    <form>
                        <input class="form-control" type="text" placeholder="Овог *">
                        <input class="form-control" type="text" placeholder="Нэр *">
                        <input class="form-control" type="text" placeholder="Утас *">
                        <input class="form-control" type="text" placeholder="Имэйл *">
                        <input class="form-control submit" type="submit" value="Илгээх">
                    </form>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.sticky.js"></script>
    <script type="text/javascript">
        $( document ).ready(function() {
            var les = $("#lesson").val();

            if(les == 1){
                $("#it11").show();
                $("#it111").addClass("active");
            }
            if(les == 2){
                $("#it12").show();
                $("#it112").addClass("active");
            }
            if(les == 3){
                $("#it13").show();
                $("#it113").addClass("active");
            }
            if(les == 4){
                $("#it14").show();
                $("#it114").addClass("active");
            }
            if(les == 5){
                $("#it15").show();
                $("#it115").addClass("active");
            }
            if(les == 6){
                $("#it16").show();
                $("#it116").addClass("active");
            }
            if(les == 7){
                $("#it17").show();
                $("#it117").addClass("active");
            }
            if(les == 8){
                $("#it18").show();
                $("#it118").addClass("active");
            }
            if(les == 9){
                $("#it19").show();
                $("#it119").addClass("active");
            }
            if(les == 10){
                $("#it110").show();
                $("#it1110").addClass("active");
            }

            $('.navbar-brand, .ddd').hover(function(){
                $('.ddd').show();
            },function(){
                $('.ddd').hide();
            });
            $('.ccc').click(function(){
                $('.ddd').show();
            });
            $("nav").sticky({topSpacing:0});
            // var p = 0;
            $(".dropdown-toggle").click(function(){
                
                $("header nav").css("background-color", "#fff");
                $(".subsub").hide(); 
                // p = p + 1;
                // if (p==2) {
                //     $("header nav").css("background-color", "transparent");  
                //     p = 0;
                // }
            });
            $('.sublistmenu').first().show();
            $('.sectionmenu li a, .sectionmenu li').click(function(e){
                $('.sublistmenu').hide();
                $(this).parent().find('.sublistmenu').show();
                e.stopPropagation();

            });
            $(".call").hover(function(){
                var txt = $(this).attr('href');
                $(".subsub").hide();
                $(txt).show();
            });
            $(".call").click(function(){
                var txt = $(this).attr('href');
                $(".subsub").hide();
                $(txt).show();
                return false;
            });    

            $("#it1").click(function() {
                $("#it11").show();
                $("#it112").removeClass("active");
                $("#it113").removeClass("active");
                $("#it114").removeClass("active");
                $("#it115").removeClass("active");
                $("#it116").removeClass("active");

                $("#it117").removeClass("active");
                $("#it118").removeClass("active");
                $("#it17").hide();
                $("#it18").hide();

                $("#it111").addClass("active");
                $("#it12").hide();
                $("#it13").hide();
                $("#it14").hide();
                $("#it15").hide();
                $("#it16").hide();

            });
            $("#it2").click(function() {
                $("#it11").hide();
                $("#it13").hide();
                $("#it14").hide();
                $("#it15").hide();
                $("#it16").hide();

                $("#it117").removeClass("active");
                $("#it118").removeClass("active");
                $("#it17").hide();
                $("#it18").hide();

                $("#it111").removeClass("active");
                $("#it113").removeClass("active");
                $("#it114").removeClass("active");
                $("#it115").removeClass("active");
                $("#it116").removeClass("active");

                $("#it112").addClass("active");
                $("#it12").show();
            });
            $("#it3").click(function() {
                $("#it11").hide();
                $("#it12").hide();
                $("#it14").hide();
                $("#it15").hide();
                $("#it16").hide();

                $("#it117").removeClass("active");
                $("#it118").removeClass("active");
                $("#it17").hide();
                $("#it18").hide();

                $("#it111").removeClass("active");
                $("#it112").removeClass("active");
                $("#it114").removeClass("active");
                $("#it115").removeClass("active");
                $("#it116").removeClass("active");
                
                $("#it113").addClass("active");
                $("#it13").show();
            });
            $("#it4").click(function() {
                $("#it11").hide();
                $("#it13").hide();
                $("#it12").hide();
                $("#it15").hide();
                $("#it16").hide();

                $("#it117").removeClass("active");
                $("#it118").removeClass("active");
                $("#it17").hide();
                $("#it18").hide();

                $("#it111").removeClass("active");
                $("#it113").removeClass("active");
                $("#it112").removeClass("active");
                $("#it115").removeClass("active");
                $("#it116").removeClass("active");
                
                $("#it114").addClass("active");
                $("#it14").show();
            });
            $("#it5").click(function() {
                $("#it11").hide();
                $("#it13").hide();
                $("#it14").hide();
                $("#it12").hide();
                $("#it16").hide();

                $("#it117").removeClass("active");
                $("#it118").removeClass("active");
                $("#it17").hide();
                $("#it18").hide();

                $("#it111").removeClass("active");
                $("#it113").removeClass("active");
                $("#it114").removeClass("active");
                $("#it112").removeClass("active");
                $("#it116").removeClass("active");
                
                $("#it115").addClass("active");
                $("#it15").show();
            });
            $("#it6").click(function() {
                $("#it11").hide();
                $("#it13").hide();
                $("#it14").hide();
                $("#it15").hide();
                $("#it12").hide();

                $("#it117").removeClass("active");
                $("#it118").removeClass("active");
                $("#it17").hide();
                $("#it18").hide();

                $("#it111").removeClass("active");
                $("#it113").removeClass("active");
                $("#it114").removeClass("active");
                $("#it115").removeClass("active");
                $("#it112").removeClass("active");
                
                $("#it116").addClass("active");
                $("#it16").show();
            });
            $("#it7").click(function() {
                $("#it11").hide();
                $("#it13").hide();
                $("#it14").hide();
                $("#it15").hide();
                $("#it12").hide();

                $("#it116").removeClass("active");
                $("#it118").removeClass("active");
                $("#it16").hide();
                $("#it18").hide();

                $("#it111").removeClass("active");
                $("#it113").removeClass("active");
                $("#it114").removeClass("active");
                $("#it115").removeClass("active");
                $("#it112").removeClass("active");
                
                $("#it117").addClass("active");
                $("#it17").show();
            });
            $("#it8").click(function() {
                $("#it11").hide();
                $("#it13").hide();
                $("#it14").hide();
                $("#it15").hide();
                $("#it12").hide();

                $("#it117").removeClass("active");
                $("#it116").removeClass("active");
                $("#it17").hide();
                $("#it16").hide();

                $("#it111").removeClass("active");
                $("#it113").removeClass("active");
                $("#it114").removeClass("active");
                $("#it115").removeClass("active");
                $("#it112").removeClass("active");
                
                $("#it118").addClass("active");
                $("#it18").show();
            });
                 
        });
        
        


    </script>
  </body>
</html>




















